* {
  font-family: 'Inconsolata', monospace;
}

.App {
  text-align: center;
  background-color: #54a0ff;
  height: 900px;
}

.app-header{
  font-size: 5em;
  font-weight: bold;
  padding-top: 2%;
  color: #222f3e;
}

.classroom {
  width: 100%;
  height: 400px;
}

.navbar {
  background-color: #222f3e;
  display: flex;
  justify-content: space-evenly;
}

.nav-item {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}

.nav-item:hover {
  color: #3742fa;
  text-decoration: none;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  /* border: 1px solid #3742fa;  */
}

.form {
  padding: 2%;
  margin-top: 2%;
  font-size: 1.2em;
}

.input {
  width: 60%;
  text-align: center;
  margin-right: 0.5%;
  background-color: transparent;
  border-style: solid; 
  border-width: 0px 0px 1px 0px; 
}

.sign-header {
  width: 20%;
  margin-right: 2%;
  font-weight: 550;
}

.signBtn {
  width: 10%;
  border: 1px solid  #3742fa;
  border-radius: 5%;
  background-color: #3742fa;
}

.signBtn:hover {
  cursor: pointer;
  font-weight: bold;
}


.mng-board {
  height: 550px;
  background-image: url('./images/class-game.png');
  background-repeat: no-repeat;
  background-size: cover;
}


.create-game-btn {
  width: 15%;
  height: 150%;
  border: 1px solid  #3742fa;
  border-radius: 5%;
  background-color: #3742fa;
  padding: 2%;
  margin-top: 5%;
  color: black;
  display: flex;
  justify-content: center;
  margin-left: 43.5%;
}

#link-to-game{
  text-align: center;
  font-size: 1.4em;
  font-weight: 500;
  text-decoration: none;
  color: black;
}

#link-to-game:hover{
  cursor: pointer;
  font-weight: bold;
}

.url-title {
  font-size: 200%;
  font-weight: 500;
  font-size: 1.6em;
  padding: 1%;
  display: flex;
  justify-content: space-evenly;
  background-color: #54a0ff;
  opacity: 0.8;
  color: black;
}

.arrow-icon {
  margin-top: 0.5%;
}

#url-str:hover {
  font-weight: bold;
}

.start-game-btn {
  margin-top: 3%;
  width: 20%;
  margin-left: 40%;
  text-align: center;
  padding: 0.5%;
  font-size: 1.4em;
  border: 1px solid  #3742fa;
  border-radius: 5%;
  background-color: #3742fa;
}
.start-game-btn:hover {
  cursor: pointer;
  font-weight: bold;
}

/* .signBtn {
  width: 10%;
  border: 1px solid  #3742fa;
  border-radius: 5%;
  background-color: #3742fa;
}



.players{
  font-size: 1.4em;
  height: 40%;
  width: 20%;
  padding: 2%;
  margin-left: 40%;
  margin-top: 3%;
  background-color: #5352ed;
  opacity: 0.92;
  border: 5px solid #222f3e;
  border-radius: 5%;
}
#players-header {
  font-weight: bold;
  font-size: 1.05em;
}



.go-message{
  margin-left: 13%;
  /* margin-right: 15%; */
  height: 400px;
  width: 600px;
  background-color:blue;
  color: black;
  font-weight: bold;
  font-size: 250px;
}

.ready-message{
  margin-left: 13%;
  /* margin-right: 15%; */
  height: 400px;
  width: 600px;
  background-color:orangered;
  color: black;
  font-weight: bold;
  font-size: 100px;
}

.game-end-message{
  margin-left: 13%;
  /* margin-right: 15%; */
  height: 400px;
  width: 600px;
  background-color:red;
  color: black;
  font-weight: bold;
  font-size: 100px;
}

.ready-next-message{
  margin-left: 13%;
  /* margin-right: 15%; */
  height: 400px;
  width: 600px;
  background-color:gainsboro;
  color: black;
  font-weight: bold;
  font-size: 80px;
}

.target {
  left:720px;
  top: 270px;
  position: absolute;
  height: 170px;
  width: 100px;
  background-repeat: no-repeat;
  background-image: url('./pictures/flat-shaded-business-woman.svg');

}

.game-status{
  height: 60px;
  width: 150px;
  background-color:magenta;
}


.touch {
  height: 50px;
  width: 50px;
  /* background-color:gold; */
  position: absolute;
  left:0;
  bottom: 0;
  font-size:100px;
  transform: rotate(-27deg);
  transform: skewY(0deg);
  transform: scaleY(0.5);
}

.podium {
  margin-left: 14%;
  height: 500px;
  width: 600px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image:url("https://cdn3.vectorstock.com/i/1000x1000/47/87/podium-icon-cartoon-style-vector-13364787.jpg");
  background-image:url("https://banner2.kisspng.com/20180328/flq/kisspng-podium-powerpoint-animation-presentation-clip-art-winner-5abb3125b57e43.4214932615222172537434.jpg");
  background-image:url("https://mbtskoudsalg.com/images/olympics-clipart-pear.png");
}

.first-place{
  display: flex;
  background-color: blue;
  width: 100px;
  text-align: center;
  font-size: 25px;
  padding-left: 10px;
  position: relative;
  left: 250px;
  top: 350px;
}
.second-place{
  display: flex;
  background-color: blue;
  width: 100px;
  text-align: center;
  font-size: 25px;
  padding-left: 10px;
  position: relative;
  left: 110px;
  top: 300px;
}
.third-place{
  display: flex;
  background-color: blue;
  width: 100px;
  text-align: center;
  font-size: 25px;
  padding-left: 10px;
  position: relative;
  left: 410px;
  top: 287px;
}

.plane {
  transform: rotate(-30deg);
  color:rgb(211, 199, 199);
  font-size: 50px;
  left:720px;
  top: 620px;
  position: absolute;
}

.targetTransperent {
  left:720px;
  top: 270px;
  position: absolute;
  height: 170px;
  width: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid red ;
  /* background-image: url('./pictures/flat-shaded-business-woman.svg'); */
  background-color: transparent;
}

.shot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: blue;
}

@media screen and (max-width: 600px){
  .classroom {
    min-width: 250px;
    max-width: 400px;
    max-height: 300px;
  }

  .app-header {
    font-size: 3.5em;
    max-height: 200px;
    padding:none;
  }
  /* .form{
    
  } */
  .navbar {
    justify-content: space-between;
  }
}

@media screen and (max-width: 350px){
  .classroom {
    min-width: 250px;
    max-width: 400px;
    max-height: 200px;
  }
  .app-header {
    font-size: 3em;
    max-height: 200px;
    padding:none;
  }
}
